/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
  list-style: none;
}

body,
html {
  background-color: #727272;
  min-height: 1440px;
  font-size: 62.5%;
}

/* MAIN SECTION */

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  padding: 1rem 2em;
  background-color: rgb(158, 155, 155);
  text-align: center;
}

.primary-nav {
  display: flex;
  list-style: none;
}

.main-logo {
  height: 8rem;
  width: 20rem;
  transition: all .4s ease-in;
  padding-top: 48px;
  margin-left: 30px;
}

.main-nav-links li {
  display: inline-block;
  list-style: none;
  padding: 1rem;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
}

.main-nav-links a {
  color: #fff;
  font-size: 2.3rem;
  margin-right: 1.2rem;
  text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.7);
  font-weight: 800;
  padding: 1rem;
  border-radius: 0.8rem;
}

.btn-nav-links {
  background-color: #727272;
  border-radius: 11px;
  color: #fff;
  padding: 3px;
  align-content: center;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.btn-nav-links:active {
  border-radius: 11px;
  box-shadow: 1px 1px 1px gba(0, 0, 0, .2);
}

.nav-links:hover {
  background-color: rgba(0, 0, 0, .15);
  border-radius: 11px;
  box-shadow: 1px 1px 1px gba(0, 0, 0, .2);
}

.btn-text {
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
}

.btn-nav-links img {
  width: 3rem;
  align-items: center;
}

.search-bar {
  position: relative;
}

#search-sect {
  padding-left: 6rem;
  background-image: url(./images/search-icon.svg);
  background-repeat: no-repeat;
  background-size: 22px auto;
  background-position: .75em 50%;
  font-size: 2rem;
  border-radius: 11px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25),
    0 8px 16px -8px rgba(194, 61, 61, 0.3),
    0 -6px 16px -6px rgba(0, 0, 0, .025);
  transition: all .2s ease-in-out;
}

/* LATEST ARTICLES SECTION */

.latest-articles {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
p,
sup,
small {
  color: #fff;
}

.notify-article {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 0px;
  padding-top: 0px;
  align-items: center;
  background: -webkit-linear-gradient(to right, green, green 50.05%, pink 0%, #9a9a9f);
  background: -moz-linear-gradient(to right, green, green 50.05%, pink 0%, #9a9a9f);
  background: linear-gradient(to right, #828287, #828287 50.05%, #787878 0%, #787878);
}

.notify-article h1 {
  font-size: 40px;
  background: #fff;
  font-weight: 700;
  width: fit-content;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.first-notify {
  margin-top: 40px;
  padding: 10px 10px 0 10px;
  color: #666
}

.second-notify {
  margin-bottom: 40px;
  padding: 0px 10px 10px 10px;
  color: #666;
}

.articles {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
}

.article-wrapper {
  height: 500px;
  text-align: left;
  margin: 0px 0px 0px 0px;
  padding: 30px;
}

.article1 {
  background: #828287;
}

.article2 {
  background: #787878;
}

.article3 {
  background: #6B6B6B;
}

.article4 {
  background: #727272;
}


.author {
  display: inline-flex;
  margin-bottom: 20px;
}

.photo {
  border: solid white;
  border-radius: 8px;
  width: 75px;
  height: 75px;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  transform: rotate(-20deg);
  transform-origin: left bottom;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2rem 4rem;
  transition: all 0.2s ease-out 0s;
}

.photo:hover {
  transform: rotate(0deg);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0.5rem 2rem;
}

.photo img {
  width: 75px;
  height: 75px;
}

.name {
  display: inline-flex;
  margin-left: 10px;
  font-size: 18px;
}

.name h3 {
  padding-left: 5px;
}

.article-title {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.5em;
  margin-bottom: 50px;
}

.links {
  display: inline-flex;
}

.links p {
  margin-right: 40px;
  font-size: 15px;
}

.arrow-link{
  font-size: 5rem;
  color: #fff;
  position: absolute;
  bottom: -18rem;
}

.arrow-link-1{
  font-size: 5rem;
  color: #fff;
  position: absolute;
  bottom: -70rem;
}

.membership{
  padding: 1.5em 0;
  color: #fff;
  position: relative;
  background-color: #535355;
}

.membership-container{
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* max-width: 55em; */
}

.membership-text{
  width: 50%;
  margin: 50px;
  line-height: 2rem;
  font-size: 2rem;
  padding-right: 4em;
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-left: 2rem;
}

.membership-parag{
  font-size: 20px;
  line-height: 32.9px;
}

.membership-parag a{
  color: #fff;
  text-decoration: underline;
}

.mem-list-main{
  margin: 40px;
  line-height:15px ;
  font-size: 18px;
  line-height: 32.9px;
  list-style: decimal;
}

.mem-list-main li::before {
  content: "\2022"; 
  color: #fff; 
  font-weight: bold; 
  display: inline-block; 
  width: 1em;
  margin-left: -1em; 
}

.mem-list-main a{
  color: #fff;
  text-decoration: underline;
}

.cat-firechat{
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  transform: rotate(-20deg);
  transform-origin: left bottom;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2rem 4rem;
  transition: all 0.2s ease-out 0s;
  background-color: transparent;
  position: relative;
  z-index: 20;
}

.cat-firechat:hover{
  transform: rotate(0deg);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0.5rem 2rem;
  z-index: 10;  
}

.membership-btn{
  background-color: #333232;
  margin: 0.75em;
  font-size: 2rem;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 308px;
}

.membership-btn:hover{
  background-color: #727272;
  transition: all 0.4s ease-out 0s;
}

.mem-img{
  background-color: transparent;
}